    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Roboto Slab', serif;
        font-weight: 300;
        scroll-behavior: smooth;
    }
    section{
        width: 100%;
        min-height: 105vh;
        display: flex;
        /* justify-content: center; */
    }
    h1{
        font-size: 3rem;
        line-height: 2;
        font-weight: bold;
    }
    p{
        font-size: 1;
        font-family: 'Oswald', sans-serif;
    }
    img{
        width: 400px;
        margin-bottom: 50px;
        margin-right: 10px;
        border: 12px solid black;

    }

    a{
        text-decoration: none;
        color: white;
    }

    a:hover{
        color: grey;
    }
    /* navbar */
    nav{
        height: 64px;
        width: 100%;
        background-color: black;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        z-index: 10;
    }
    nav ul{
        display: flex;
        list-style: none;
    }
    nav ul li{
        margin: 30px;

    }
    #title{
        font-size: 1.8rem;
        font-family: 'Roboto Slab', serif;
            text-transform: uppercase;
        
    }

    /* Home Section */

    .Home{
        background-color:  #d0164e;
    }
    .Home div{
        transform: translateY(62px);
        margin: 5%  ;
    }
    .About div{
        margin: 8%;
    }